<h1 class="text-center my-4">Bigger, Faster Near Earth Objects</h1>
<p class="lead text-center">Estimated diameter over 0.5 miles <em>or</em><br>
  relative velocity more than 50,000 miles per hour.</p>

<app-error
  *ngIf="data.errors$ | async as err"
  [msg]="err"
  @toast></app-error>

<app-loading *ngIf="data.loading"></app-loading>

<div *ngIf="biggerFasterNeo$ | async as neos" class="row mb-3">
  <div
    *ngFor="let neo of neos; trackBy: utils.trackByID"
    class="col-sm-12 col-md-6 col-lg-4"
    @list>
    <app-neo [neo]="neo"></app-neo>
  </div>
</div>
