<h1 class="text-center my-4">Bigger, Faster Near Earth Objects on {{ utils.getNEODate | date:'mediumDate' }}</h1>
<p class="lead text-center">Near Earth Objects with an estimated diameter over half a mile <em>or</em><br>
  with a relative velocity of more than 50,000 miles per hour.</p>

<app-error
  *ngIf="data.errors$ | async as err"
  [msg]="err"></app-error>

<app-loading *ngIf="api.loading"></app-loading>

<div *ngIf="biggerFasterNeo$ | async as neos" class="row mb-3">
  <div *ngFor="let neo of neos" class="col-xs-12 col-sm-6 col-md-4">
    <app-neo [neo]="neo"></app-neo>
  </div>
</div>
