<div class="container">
  <h1 class="text-center mt-2">Astronomy Picture of the Day</h1>

  <div *ngIf="data.getApod$ | async as apod">
    <h2 class="text-center my-4" *ngIf="apod.title"><em>"{{ apod.title }}"</em></h2>
    <div class="imgStars-container">
      <img *ngIf="apod.url" [src]="apod.url" [alt]="apod.title">
      <div class="stars-container" [hidden]="!apod.url">
        <button class="addStars" #starBtn><span>⭐️</span></button>
        <span class="starCount">{{ apod.stars }}</span>
      </div>
    </div>
    <p class="lead pt-3">{{ apod.explanation }}</p>
    <p
      *ngIf="apod.copyright"
      class="copyright text-center pt-2">
      &copy; {{ apod.copyright }}
    </p>
  </div>

  <footer class="text-center py-3">
    APOD State | <a href="https://github.com/kmaida/space-state/tree/master/projects/apod-state">GitHub</a>
  </footer>
</div>
