footer {
  color: #add2eb;
  font-size: .7rem;
  text-transform: uppercase;
}
a {
  color: #add2eb;
  transition: color 300ms ease;
}
a:hover {
  color: #fff;
  text-decoration: none;
  transition: color 300ms ease;
}
img {
  border-radius: 10px;
  box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
  display: block;
  max-width: 100%;
}
.copyright {
  font-size: .85rem;
}
