<div class="container">
  <nav class="nav justify-content-between mt-2 mx-2 mb-3">
    <ul class="nav">
      <li class="nav-item">
        <a
          routerLink="/"
          class="nav-link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </li>
      <li class="nav-item">
        <a
          routerLink="/bigger-faster"
          class="nav-link"
          routerLinkActive="active">Bigger, Faster NEO</a>
      </li>
      <li class="nav-item">
        <a
          routerLink="/mini"
          class="nav-link"
          routerLinkActive="active">Mini NEO</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
  <footer class="text-center pb-3">
    Space State | <a href="https://github.com/kmaida/space-state">GitHub</a>
  </footer>
</div>
