.btn-nickname {
  background: rgba(10,36,54,.5);
  border-color: #00c0fb;
  color: #00c0fb;
  font-size: .85rem;
  padding: .5rem;
}
.btn-nickname:disabled {
  color: inherit;
}
.btn-nickname:hover {
  color: #c8f2ff;
}
.input-nickname {
  border-color: rgba(10,36,54,.5);
}
.form-inline .form-group {
  flex: 0 0 100%;
  -ms-flex: 0 0 100%;
}
.form-inline .form-control {
  width: calc(100% - 57px);
}
